
body {
  font-family: "Open Sans", serif;
  color: #999;
  background-color: white;
}
.banner {
  background-image: url("0.jpg");
  background-size: cover;
  height: 200px;
}
.navbar-inverse{
  border-color: #3a75ff;
  background-color: #3a75ff;
}

.navbar-inverse .navbar-nav>li>a{
  color: yellow;
  font-size: 16px;
}

.well{
  background-color: #3a75ff;
  border-color: white;
  color: yellow;
}
.well p{
  color: white;
}
.well a{
  color: white;
}

h1{
  font-size: 16px;
  text-align: center;
}

a{
  color: #999;
}
ul{
  list-style-type: none;
}

h2{
  font-size:14px;
  margin-bottom: 0px;
}